/* HEADER */

/* start bootstrap */
header > div > div.container > img{
    height: 200px;
}

/* MAIN */

/* portfolio */
main > div:first-child > .container > .row > div{
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

/* about */
main > div:nth-child(2) > .container > .row > div{
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

/* contact me */
main > div:nth-child(3) > .container > .row > div{
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

/* FOOTER */
footer > div:first-child > .container > .row > div{
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

footer > div > p{
    width: 100px;
    height: 30px;
    background-color: red;
}